body{
    background-color: #F7ECDE;
    color: #352E28;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-style: normal;
}
[class *= "heading" ]{
 font-family: "Pacifico", cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  position: relative;
  z-index: 1 ;
}


.heading::after {
    content: "";
    background-color: #FEC260;
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 30%;
    left: 0px;
    right: 0px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}


.heading:hover::after{
    height: 60%;
}




[class *= "inputs-head"]{
  font-family: "Righteous", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 19px;
  background-image: linear-gradient(to right, #759404 , #f2d308);
  color: transparent;
  background-clip: text;


}


section .container .content {
    border-top: 2px dotted #352E28;
    border-bottom: 2px dotted #352E28;
} 


.form-control:focus {
   
    border-color: #FEC260;
    box-shadow: 0 0 0 .25rem rgba(254, 196, 94, 0.4) ;
  
}
